@charset "utf-8";
@
}
style

        h2{
            color:#f5f5dc;
            
        }
        h1{
            color: #f5f5dc;
        }
        p{
            color: rgb(55, 0, 255);
        }

#titulo{
    text-align: center;
    background-color: azure;
}
.subtitulo{
    text-align: right;
    color: black;
    
}